@charset "UTF-8";
/* ============================ 푸터 시작 ============================ */
/* 화면고정 */
.footer_outer{min-width: 1669px;}

.ffh_footer>div{width: 100%;}
.ffh_footer_top{height: 40%;}
.ffh_footer_middle{height: 60%;}

.ffh_footer_top>div{height: 100%;}
.ffh_footer_top_left{width: 43%;}
.ffh_footer_top_middle{width: 30%;}
.ffh_footer_top_right{width: 27%;}

/* 푸터_top a 전체 */
.ffh_footer_top a{
    text-decoration: none; 
    color: rgb(58, 58, 58); 
    font-weight: 600;
    margin: 15px;
    vertical-align: middle;
    line-height: 150%;
}

/* 푸터_top 모달 들어갈 div 전체 */
.ffh_footer_top_left>div{height: 100%;}

.ffh_footer_top_left1{width: 15%; text-align: center;}
.ffh_footer_top_left2{width: 15%;}
.ffh_footer_top_left3{width: 25%;}
.ffh_footer_top_left4{width: 30%;}
.ffh_footer_top_left5{width: 15%; text-align: center;}

/* ============================ 푸터 모달 시작 ============================ */
.modal_title, body{font-family: 'KNUTRUTHTTF', sans-serif;}

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    position: relative;
    top: 50%;
    width: 800px;
    max-width: 800px;
    word-wrap: break-word;
    overflow: auto;
    height: 600px;
    margin-top: 5vh;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateY(-50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.close-btn-bottom {
    width: 80px;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn-bottom:hover {background-color: #0056b3;}
.btn-open-modal, .open-page{width: 100%; height: 100%; background-color: white; border: none; color: rgb(58, 58, 58); font-weight: 600;}

/* ============================ 푸터 모달 끝 ============================ */

/* 푸터_middle 전체 */
.ffh_footer_middle>p{
    width: 100%; 
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    color: rgb(58, 58, 58);
}

.p1{height: 50%; padding: 5px 15px;}
.p2{height: 20%; padding: 5px 15px;}
.p3{height: 20%;}
/* ============================ 푸터 끝 ============================ */
#top-btn { 
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    background-color: white;
    border: 2px solid #dbdbdb;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}
