@charset "UTF-8";
/* 기본 셋업 */
.product_sort_category_outer{width:100%; height: 1000px; padding: 0 250px;}
.product_sort_category_outer>div{width:100%;}
.blank_top{height: 15%;}
.blank_bottom{height: 5%;}

/* 메인 영역 시작 */
.product_sort_category_main{height: 80%; border:1px solid blue;}

/* 메인 영역 끝 */