<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , USER_SSN
		     , NICKNAME
		     , PHONE
		     , EMAIL
		     , ADDRESS
		     , PROFILE
		     , GRADE
		     , MARKETING
		     , ENROLL_DATE
		     , MODIFY_DATE
		     , USER_TYPE
		     , USER_STATUS
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND USER_STATUS IN ('Y','A')
	</entry>
	
</properties>